

body {
  background: url(../public/3952024.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  font-family: 'Silkscreen', cursive;
}

button {
  font-family: 'Silkscreen', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#labels {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  height:20px;
}

#label1{
  margin-top: 10px
}

#createPokemonForm {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#submitbtn {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

#trainerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  width: 30%;
  margin-top: 10px;
  margin-bottom: 10px
}

#trainerList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px
}

#trainerPic {
  height: 60%;
  width: 60%;
}

#trainerTitle {
  text-align: center;
}

#homepage {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%)
}

#trainerButton {
  margin-right: 50px;
}
#pokemonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  width: 30%;
  margin-top: 10px;
  margin-bottom: 10px
}

#pokemonList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px
}


#pokemonTitle {
  text-align: center;
}

#pokemonPic {
  height: 60%;
  width: 60%;
}

#navbar {
  display: flex;
  flex-direction: row;
}

#pokeball {
  height: 50px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

#createPokemon {
  margin-top: 10px;
}

